<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<form action="dilo/proses" method="post" enctype="multipart/form-data">
    <input type="text" name="nama" placeholder="masukan nama anda!">
    <input type="text" name="hobi" placeholder="masukan hobi anda!">
    <input type="file" name="gambar" >
    <button type="submit">Submit</button>
</form>
</body>
</html>